.section {
    margin: 3em 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 70%;
}

.authors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2em;
    padding: 1em;
    justify-items: center;
    align-items: center;
}
