.section {
    margin: 20px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.intro p {
    margin: 10px 0px;
    text-align: justify;
}

.authors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2em;
    padding: 1em;
    justify-items: center;
    align-items: center;
}

/* Tablets */
@media (max-width: 1120px) {
    .intro {
        justify-content: center;
    }

    .authors {
        padding: 0;
    }
}

/* Phones */
@media (max-width: 480px) {
}
