.title {
    background-color: #F08262; /* Color de fondo */
    color: #301934; /* Color del texto */
    font-weight: bold; /* Negrita */
    font-size: 2em; /* Tamaño del texto */
    padding: 6px 12px; /* Espaciado interno */
	margin: 10px 0px;
    border-radius: 7px; /* Esquinas redondeadas */
    display: inline-block; /* Ajusta el tamaño al contenido */
}