:root {
    --background: #ffffff;
    --foreground: #171717;

    --color-5: #301934;
    --color-4: #75bf91;
    --color-3: #f8f0ec;
    --color-2: #f08262;
    --color-1: #e52713;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: 'Space Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 0 2.5em;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@import 'tailwindcss';
