/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10em;
    padding: 2rem 0;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem 0;
}

.intro h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 2em;
}
