/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.intro {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 1em;
    padding: 2rem 0;
}

.intro h1 {
    font-weight: 500;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.facts {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: #f3f3f3;
    border-radius: 45px;
    padding: 2em;
}

.fact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 60px;
    gap: 5em;
}

.fact h3 {
    font-weight: 500;
    color: var(--color-5);
}

.factText {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-width: 50%;
}

/* Media Queries */

@media (max-width: 1120px) {
    .intro {
        max-width: 100%;
        padding: 0;
    }

    .container {
        justify-content: center;
        text-align: center;
    }

    .fact {
        padding: 0px 20px;
        gap: 2em;
        text-align: center;
    }

    .factText {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        justify-content: center;
        text-align: center;
    }

    .intro {
        max-width: 100%;
        padding: 0;
    }

    .fact {
        padding: 0px 20px;
        gap: 2em;
        text-align: center;
    }

    .intro h1 {
        line-height: 55px;
    }

    .factText {
        max-width: 100%;
    }
}
