.card {
    --card-color: #191a23;
    --card-shadow: 0px 5px 0px var(--card-color);
    border: 1px solid var(--card-color);
    border-radius: 30px;
    box-shadow: var(--card-shadow);
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 20px 50px;
    background: linear-gradient(90deg, #f8f0ec 0%, var(--color-2) 80%);
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}

.amount {
    font-size: 1.6em;
    color: #000000;
    margin: 0;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 20px 30px;
    }

    .content {
        align-items: center;
    }
}
